VITE_API_BASE_URL=/api
VITE_COMPANY_NAME=Spheronix Labs
VITE_UPI_ID=spheronixlabs@upi
VITE_UPI_PAYEE_NAME=Spheronix Labs
VITE_SCANNER_IMAGE=/scanner.png
VITE_SHORT_TERM_FEE=1999
VITE_LONG_TERM_FEE=3499
VITE_BASE_AMOUNT=50
VITE_FULL_AMOUNT=60
